<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phd Research Solutions</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Phd Research Solutions</h1>
        
        <p class="details">Your path to success starts here! From Topic Selection to Thesis Submission.</p>
        <p class="details">Limited-time offer! Call now.</p>
        <a href="/contact" class="contact">Contact Us</a>
    </div>
</body>
</html>
